#printit {
  color: black !important;
  cursor: pointer;
}

@media print {
    a:after {
        content: none !important;
    }
div::before {
  font-weight: 500;
  font-size: medium;
  content: "Details";
}
}
.ajax-progress {
    display: inline-block;
    padding: 1px 0px 2px 0px;
}
.ajax-progress-throbber .throbber {
    padding: 1px 6px 2px;
}
.form-control {
    display: inline-block;
    width: 90%;
}
main, blockquote
{
	font-size: 1.35rem;
}
.addmore
{
  background: url("../images/icon/document-add-icon.png") no-repeat scroll 0 0 transparent;
  height: 33px;
  width: 35px;
  border-style: none;
}

.removeitem
{
  background: url("../images/icon/remove_item.png") no-repeat scroll 0 0 transparent;
  height: 25px;
  width: 30px;
  border-style: none;
  line-height: 3;
}
.fadehide
{
	opacity: 0.30;
}
.fadehide:hover
{
	opacity: 1;
	cursor: pointer;
}
.ui-dialog-titlebar-close
{
	background-image: url(../../assets/images/icon/closed.png) !important;
}
.box
{
	box-shadow: 0 4px 8px 0 grey;
}
.fix-width
{
	height: 257px;
}
.fonticon
{
	font-size: x-large;
}

.srch-panel-body{
  padding: 70px 25px 0px 25px !important;
}
.srch-panel{
  margin-bottom: 0px !important;
}
i.icon-red {
  color: red;
}

/* This custom css code is overriding of core/vendor css for autocomplete suggestion */
.ui-autocomplete li:hover, a:hover{
  background-color: #f3f2f2;
  color: #333333;
}
.ui-menu-item{
  line-height: 40px;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
  background-color: #f3f2f2;
  border: none;
  color: #333333;
}
.ui-menu .ui-state-focus, .ui-menu .ui-state-active{
  margin: 0px;
}
/* This custom css code is overriding of core/vendor css for autocomplete suggestion */
