
<div class="form-group">
	<label class="control-label"></label>
	<div class="radio-list">
		<label class="radio-inline p-0">
			<div class="radio radio-info">
				<input type="radio" name="radio" id="radio1" value="option1">
				<label for="radio1">Option 1</label>
			</div>
		</label>
		<label class="radio-inline">
			<div class="radio radio-info">
				<input type="radio" name="radio" id="radio2" value="option2">
				<label for="radio2">Option 2 </label>
			</div>
		</label>
	</div>
</div>

<div data-mind="hello" {{ attributes.addClass('form-radios') }}>{{ children }}</div>