<a href="{{url('<front>')}}settings/password">
<div class="col-lg-6 col-sm-6 col-xs-12">
	<div class="white-box" style="box-shadow: 0 4px 8px 0 grey;">
		<h3 class="box-title">Change password</h3>
		<ul class="list-inline two-part">
			<li><i class="icon-lock text-info"></i></li>
			<li class="text-right"><span class="counter">{{ lastchanged }}</span></li>
		</ul>
	</div>
</div></a>