<a href="{{url('<front>')}}employee">
	<div class="col-lg-6 col-sm-6 col-xs-12">
		<div class="white-box" style="box-shadow: 0 4px 8px 0 grey;">
			<h3 class="box-title">Employees</h3>
			<ul class="list-inline two-part">
				<li><i class="icon-people text-info"></i></li>
				<li class="text-right"><span class="counter">{{ emp_count }}</span></li>
			</ul>
		</div>
	</div>
</a>
