{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for tabs.
 */
#}
{% block content %}
  {% if content %}
  {% set url = url('<current>') %}
    {% if 'user/password' not in url|render|render %}
      <nav class="row active" role="navigation" aria-label="{{ 'Tabs'|t }}">
        {{ content }}
      </nav>
    {% endif %}
  {% endif %}
{% endblock %}
