<footer class="footer text-center"> 
  <span style="text-align:left">&copy;Copyright {{ year }} Maintained by <a href="https://www.preqube.com" target="_blank" style="color: dimgray; font-weight: 500;">Preqube </a></span>
</footer>