{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
{% if attributes.class == 'views-exposed-form' %}
<form{{ attributes }}>
  {% if attributes.class == 'views-exposed-form' %}
  <div class="border-content">
    {% endif %}
    {{ children }}
    {% if attributes.class == 'views-exposed-form' %}
  </div>
  {% endif %}
</form>

{% else %}
  <div class="panel"></div>
  <form{{ attributes }}>{{ children }}</form>
{% endif %}
